// global color tokens
$-clr-almost-white: hsl(36, 100%, 99%);
$-clr-dark-space-blue: hsl(240, 100%, 5.1%);
$-clr-gunmetal: hsl(236, 13%, 42.4%);
$-clr-light-vermillion: hsl(5, 85.1%, 63.1%);
$-clr-silver: hsl(233, 8.4%, 79%);
$-clr-yellow: hsl(35, 77.4%, 61.8%);

$light: (
  "neutral": (
    "100": $-clr-almost-white,
    "400": $-clr-silver,
    "700": $-clr-gunmetal,
    "900": $-clr-dark-space-blue,
  ),
  "primary": (
    "400": $-clr-light-vermillion,
    "500": $-clr-yellow,
  ),
);

// $dark: (
//   "neutral": (
//     "1000": $-clr-white,
//     "900": $-clr-gray-100,
//     "800": $-clr-gray-200,
//     "700": $-clr-gray-300,
//     "600": $-clr-gray-400,
//     "500": $-clr-gray-500,
//     "400": $-clr-gray-600,
//     "300": $-clr-gray-700,
//     "200": $-clr-gray-800,
//     "100": $-clr-gray-900,
//     "000": $-clr-black,
//   ),
//   "accent": (
//     "900": $-clr-deeppink-900,
//     "800": $-clr-deeppink-800,
//     "700": $-clr-deeppink-700,
//     "600": $-clr-deeppink-600,
//     "500": $-clr-deeppink-500,
//     "400": $-clr-deeppink-400,
//     "300": $-clr-deeppink-300,
//     "200": $-clr-deeppink-200,
//     "100": $-clr-deeppink-100,
//   ),
//   "primary": (
//     "900": $-clr-skyblue-900,
//     "800": $-clr-skyblue-800,
//     "700": $-clr-skyblue-700,
//     "600": $-clr-skyblue-600,
//     "500": $-clr-skyblue-500,
//     "400": $-clr-skyblue-400,
//     "300": $-clr-skyblue-300,
//     "200": $-clr-skyblue-200,
//     "100": $-clr-skyblue-100,
//   ),
// );

// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-400: var(--neutral-400);
$color-neutral-700: var(--neutral-700);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
