---
import Feature from "../components/Feature.astro";
import New from "../components/New.astro";
import Blog from "../components/Blog.astro";
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Frontend Mentor | News homepage">
  <div class="container grid">
    <Feature />
    <New />
    <Blog />
  </div>
</Layout>
