---
import PrimaryNavigation from "./PrimaryNavigation.astro";
// const { skipTo = "#main" } = Astro.props;
---

<header class="site-header">
  <div class="container">
    <div class="site-header__inner">
      <a href="/index.html">
        <img
          class="logo-image"
          aria-hidden="true"
          src="/assets/images/logo.svg"
          alt=""
        />
        <p class="visually-hidden">W. - Home</p>
      </a>

      <PrimaryNavigation />
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-header {
    color: $site-header-color;
    background-color: $site-header-background-color;
    padding: $site-header-padding;

    @include mq(medium) {
      padding: $site-header-padding-desktop;
    }

    &__inner {
      display: flex;
      gap: $size-4;
      align-items: $site-header-alignment;
      justify-content: $site-header-jusitifcation-small-screens;

      @include mq(medium) {
        justify-content: $site-header-jusitifcation-large-screens;
      }
    }
  }

  .logo-image {
    width: 45px;

    @include mq(medium) {
      width: 64px;
    }
  }
</style>
